@media (max-width: 860px) {
  body {
    margin-top: 106px;
  }
  header {
    position: fixed;
    top: 0;
    height: 20vh;
  }

  header-top {
    height: 70%;
  }

  nav {
    height: 30%;
  }

  #logo, #container-logo {
    display: none;
  }
  main {
    width: 100%;
    margin-top: 20vh;
  }

  .connexion {
    max-width: 60vh;
  }
}

@media (max-width: 760px) {
  .connexion {
    display: none;
  }
  .header-comp {
    margin-bottom: 0.25em;
    margin-top: 0.25em;
  }
}

@media (max-width: 550px) {

  .form-input {
    max-width: 200px;
  }
  .burger .line {
    transition: all .3s ease;
  }
  body {
    margin-top: 65px;
    margin-bottom: 0;
  }

  header {
    height: initial;
  }

  .header-comp {
    height: initial;
  }

  header h1 {
    font-size: 1.5em;
  }
  nav {
    position: fixed;
    /* top: 0; */
    left: -60vw;
    width: 60vw;
    max-width: 200px;
    height: 100vh;
    transition: left .2s ease;
    padding-top: 16px;
  }
  nav.menu-show {
    left: 0
  }

  nav li {
    height: initial;
    width: 100%;
  }


  nav li a {
    padding: 5px 10px;
  }

  .burger.menu-show .line-top {
    transform: rotate(-45deg) translate(-10px, 6px);
  }
  .burger.menu-show .line-center {
    opacity: 0;
  }
  .burger.menu-show .line-bottom {
    transform: rotate(45deg) translate(-12px, -9px);
  }

  main {
    margin-top: initial;
  }

  footer {
    position: static;
  }
}

@media (min-width: 760px) {
  .hidden-750 {
    display: none;
  }
}

@media (min-width: 550px) {
  .hidden-550 {
    display: none;
  }
}
