:root {
  --main-bg-color: #FF9800;
  --main-light-bg-color: #FFE0B2;
  --main-dark-bg-color: #6B4000;
  --main-text-color: #000000;
  --accent-bg-color: #0000e0;
  --accent-dark-bg-color: #373DA3;
  --accent-light-bg-color: #0046e4;
  --accent-text-color: #FFFFFF;
  --background: #484848;
  --black: #212121;
}

* {
  margin: 0;
  padding: 0;
}

a, a:visited {
  color: var(--main-bg-color);
  text-decoration: none;
}

body {
  margin-bottom: 40px;
  background-color: var(--background);
  font-family: 'Roboto', sans-serif;
}

.form-input {
  z-index:0;
  background-color: #ececec;
  border: 1px solid var(--main-bg-color);
  height: 1.5em;
  color: var(--main-text-color);
  padding: 0 2px;
  box-sizing: border-box;
}

.form-input:focus {
  border: 1px solid var(--main-bg-color);
  box-shadow: 1px 1px 5px 2px var(--main-bg-color);
}

.button {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  padding: 2px 10px;
  border: 1px solid var(--main-text-color);
}

/*
* HEADER
*/

header {
  z-index: 100;
  width: 100%;
  background-color: var(--black);
  color: #ececec;
  height: 28vh;
}

.header-top {
  height: 80%;
  display: flex;
  min-height: 65px;
  justify-content: space-between;
}

#container-logo {
  width: 150px;
  height: 100%;
}

#logo {
  height: 100%;
}

.header-comp {
  align-self: end;
  height: 100%;
  display: flex;
  align-items: bottom;
  justify-content: flex-start;
}

.title {
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  vertical-align: bottom;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.connexion {
  max-width: 25vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  align-self: flex-end;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}

.connexion > * {
  flex:1 1 auto;
  width: 45%;
  margin:5px;
}

.connexion > input {
  float: right;
  clear: both;
}

.connexion > .button {
  width: inherit;
  flex-grow: 0;
}

.inline-block {
  display: inline-block;
}

/*
* burger
*/

.burger {
  width: 55px;
  height: 55px;
  display: inline-block;
}

.burger .line {
  background-color: var(--main-bg-color);
  width: 48px;
  height: 5px;
  position: relative;
  left: 5px;
  border-radius: 4px;
}

.burger .line-top {
  top: 8px;
}

.burger .line-center {
  top: 16px;
}

.burger .line-bottom {
  top: 24px;
}

/*
* NAVIGATION
*/
nav {
  background-color: var(--main-bg-color);
  text-align: center;
  height: 20%;
}

nav ul {
  height: 100%;
  list-style: none;
  display: inline-block;
}

nav li {
  float: left;
  height: 100%;
  display: flex;
  align-items: center;
}

nav li.active {
  background-color: var(--accent-light-bg-color);
}

nav li.active a, nav li.active a:visited {
  color: var(--accent-text-color);
}

nav li a, nav li a:visited {
  text-align: center;
  color: var(--main-text-color);
  padding: 0px 10px;
  font-weight: bold;
  border-bottom: transparent solid 1px;
}

nav li:hover {
  box-sizing: border-box;
  border-bottom: var(--accent-light-bg-color) solid 1px;
}

/*
* CONTENT
*/

main {
  background-color: #ececec;
  width: 80%;
  max-width: 1200px;
  margin: auto;
  margin-top: 2%;
  padding: 10px;
  box-sizing: border-box;
}

main h2 {
  color: var(--main-text-color);
  width: 100%;
  border-bottom: 1px solid var(--main-bg-color);
  margin-bottom: 10px;
}

.filter {
  background-color: white;
  padding: 5px;
  margin-bottom: 10px;
}

.filter label {
  white-space: nowrap;
}

.filter .form-input {
  margin-bottom: 2px;
}

/*
* PATHO
*/

.patho-table {
  border-collapse: collapse;
  border: 1px solid var(--main-bg-color);
  width: 100%;
}

.patho-table thead {}

.patho-table thead tr {
  background-color: var(--main-light-bg-color);
  color: var(--main-text-color);
}

.patho-table tr th {
  border-right: 1px solid white;
  padding: 5px;
  font-size: 14pt;
}

.patho-table tr th:last-child {
  border: none;
}

.patho-table thead tr th span {
  cursor: pointer;
}

.patho-table thead tr th span:hover {
  color: white;
}

.patho-table thead tr th .active {
  color: var(--accent-light-bg-color);
}

.patho-table tr td {
  padding: 5px;
}

.patho-table tbody tr:nth-child(even) {
  background-color: white;
}

.patho-table tbody tr td:last-child {
  text-align: center;
}

.patho-table tbody tr td:last-child a:hover{
  color: blue
}

.paginate {
  background-color: var(--main-bg-color);
  margin: auto;
  padding: 5px;
  text-align: center;
}

.paginate a {
  background-color: white;
  padding: 5px;
  margin: 5px;
  display: inline-block;
  color: var(--main-text-color);
  cursor: pointer;
  font-weight: bold;
}

.paginate a.paginate-active {
  color: #7b5000;
  font-weight: bold;
}
.paginate .paginate-disable {
  color: rgb(99, 99, 99);
  cursor: default;
  font-weight: normal;
}

.visu-meridien li {
  list-style-position: inside;
}

/*
* FOOTER
*/

footer {
  background-color: var(--black);
  color: #ececec;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  text-align: center;
}

footer span {
  display: inline-block;
  margin: 5px 0 5px 10px;
}

footer span:not(:first-child)::before {
  content: '|';
  margin-right: 10px;
}

p {
  font-size: 1em;
}


/*
* CONNEXION
*/
.center-form {
  text-align: center;
  width: 100%;
}

.center-form * {
  margin: 5px;
}


.success {
  background-color: green;
  padding: 5px;
  color: white;
}

.error {
  background-color: red;
  padding: 5px;
  color: white;
}

/* About */
.about h2 + h3 {
  border-top: none;
}
.about h3 {
  padding-top: 0.25em;
  margin-top: 2%;
  border-top: 3px double var(--main-bg-color);
}

.about h4 {
  margin-left : 3%;
}

.about h4, h5 {
  margin-top : 1%;
}

.about p, h5 {
  margin-left: 5%;
}

.about ol, ul {
  margin-left: 10%;
}