<form class="center-form" action="Connexion" method="post">
    <label for="content_username">Nom d'utilisateur</label>
    <br>
    <input class="form-input" type="text" id="content_username" name="username" value="">
    <br>
    <label for="content_password">Mot de passe</label>
    <br>
    <input class="form-input" type="password" id="content_password" name="password" value="">
    <br>
    <input class="button" type="submit" name="connexion" value="Connexion">
</form>