<form class="inscription center-form" action="/Inscription" method="post">
    <label for="content_username">Nom d'utilisateur</label>
    <br>
    <input class="form-input" type="text" id="content_username" name="username" value="">
    <br>
    <label for="content_password">Mot de passe</label>
    <br>
    <input class="form-input" type="password" id="content_password" name="password" value="">
    <br>
    <label for="content_passwordConfirm">Confirmation mot de passe</label>
    <br>
    <input class="form-input" type="password" id="content_passwordConfirm" name="passwordCofirm" value="">
    <br>
    <input class="button" type="submit" name="inscription" value="Inscription">
</form>